@import url(//fonts.googleapis.com/css?family=Roboto:300,400,700);
body {
	font-family: Roboto, "Helvetica", sans-serif;
	color: #404041
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	font-family: Roboto, "Helvetica", sans-serif;
    color: #404041;
}

.post {
	word-break: break-word
}

.post h1,
.post h2 {
	margin-top: 46px
}

.post h3,
.post h4 {
	margin-top: 40px
}

.post h2+h3 {
	margin-top: 26px
}

a {
	color: #0087CA;
	transition: color .5s, background-color .5s, border .5s
}

a:hover {
	color: #0087CA;
	text-decoration: underline
}

a:visited {
	color: #0087CA;
}

.btn {
	padding: 10px;
	display: inline-block;
	color: #01b2a7
}

.btn.btn-default,
.btn.btn-primary {
	border: 2px solid #01b2a7
}

.btn.btn-default:hover {
	background-color: #01b2a7;
	color: #fff
}

.btn.btn-primary {
	background-color: #01b2a7;
	color: #fff
}

.btn.btn-primary:hover {
	border-color: #016b64;
	background-color: #016b64
}

a.btn {
	text-decoration: none
}

a.btn {
	text-decoration: none
}

.post-content img,
.post-content video,
.post-list img,
.post-list video {
	margin: 20px 0;
	margin-bottom: 0px
}

.post-content img.block,
.post-content video.block,
.post-list img.block,
.post-list video.block {
	display: block
}

.media {
	text-align: center
}

.media p {
	margin-top: 20px
}

.left {
	text-align: left
}

.site-header {
	background-color: transparent;
	border-top: none;
	border-bottom: 1px solid #0087CA;
	font-family: Roboto, "Helvetica", sans-serif
}

.site-title {
	color: #0087CA;
}

.site-title:visited {
	color: #0087CA;
}

.site-nav .page-link {
	color: #0087CA;
}

@media screen and (max-width: 600px) {
	.site-nav {
		right: 18px;
		border: none
	}
	.site-nav .trigger {
		box-shadow: 0px 3px 2px #e2e6e6
	}
	.site-nav .menu-icon>svg path {
		fill: #0087CA;
	}
}

.site-footer {
	border-top: none;
	background-color: #e2e6e6;
	color: #404041
}

.site-footer .footer-col-wrapper {
	color: #404041
}

.site-footer .contact-list a,
.site-footer .social-media-list a {
	font-weight: normal
}

.site-footer a {
	color: #404041;
	font-weight: bold
}

.post-list h2 a {
	color: #404041;
}

.post-list li {
	margin-bottom: 36px
}

.post-meta {
	font-family: Roboto, "Helvetica", sans-serif
}

hr {
	margin: 30px 0;
	border: none;
	border-bottom: 1px solid #365e86
}

.indented {
	padding-left: 20px;
	margin: 20px 0
}

strong {
	font-weight: 400
}

iframe {
	display: block;
	margin-bottom: 1em
}

.rc-scout__link {
	color: inherit !important
}

.flex {
	display: flex
}

.flex>* {
	flex: 1
}

.twitter-tweet>iframe {
	width: 500px !important
}